/* Estilo base do menu lateral */
*{
   font-family: 'Segoe UI', sans-serif;
}
.sidebar {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;

  color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
 
  height: 100%;        /* altura fixa ou máxima da div */
  overflow-y: auto;      /* ativa scroll vertical quando necessário */
  overflow-x: hidden; /* impede scroll horizontal */
  padding: 15px;

  border: 0px solid #ccc;
 
}

.tm-imgs-galeria {
  width: 500px;
  height: 300px;
  object-fit: cover; /* cobre todo o espaço do card */
}
/* Container que centraliza os cards */
.director-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* responsivo */
   flex-wrap: wrap;
  gap: 20px;                        /* espaço entre os cards */
  justify-content: center;         /* centraliza as colunas horizontalmente */
  align-items: start;              /* evita esticar verticalmente */
  padding: 100px 20px 40px 20px;   /* espaço no topo para campo de busca fixo */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;                  /* centraliza o grid na tela */
}

.profile-img-log{


  width: 250px; 
           
  height: 100px;           
  display: block;
  object-fit: cover;      
  border-radius: 0px;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.profile-img {


  width: 250px; 
           
  height: 180px;           
  display: block;
  object-fit: cover;      
  border-radius: 0px;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.bio-summary {
    overflow-y: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #007bff;
  
}

.bio-summary h2 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;           /* tamanho agradável e legível */
  font-weight: 700;            /* negrito para destacar */
  color: #000000;              /* texto preto */
  text-transform: uppercase;   /* texto em caixa alta */
  letter-spacing: 2px;         /* espaço entre letras */
  margin-bottom: 15px;         /* espaçamento abaixo do título */
  border-bottom: 3px solid #000000;  /* linha preta embaixo */
  padding-bottom: 5px;         /* espaçamento entre texto e linha */
  
}
.black-bar {
  width: 250px;     /* ocupa toda a largura do container pai */
  height: 30px;    /* altura fixa */
  background-color: #000000; /* cor preta */
  margin: -20px;
}


.author-card {
  background-color: #f5f5f5;
  padding: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #222;
  border-left: 4px solid #000; /* destaque na margem esquerda */
  margin-bottom: 10px;
}

.author-card h4 {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #000;
}

.author-card p {
  margin: 0;
  font-size: 12px;
  color: #555;
}

.bio-summary p {
  
  font-size: 14px;
  line-height: 1.5;
}
 .bio-info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #222;
  line-height: 1.5;
  margin-top: -15px;
}

 .bio-info p {
  margin-bottom: 8px;
  color: #000;
}

.bio-info strong {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
  color: #000;
}
.bio-btn {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  padding: 10px 0;
  cursor: pointer;
}


.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: #2c3e50;
  cursor: pointer;
  z-index: 1100; /* maior que o sidebar */
}

.fonte-padrao {

  font-family: 'Segoe UI', sans-serif;
 } 
.voltar-link {
 padding: 20px;
 
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
  border-left: 0px solid #000; /* destaque na margem esquerda */
  margin-bottom: 20px;

  margin-top: auto;
  text-align: center; /* centraliza horizontalmente */
  padding-top: 20px;
  align-self: flex-start; /* esquerda lateral */
}
.voltar-link a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;

}
.voltar-link a:hover{
     color:#3498db;
}
.voltar-link a:active{
     color:white;
}
/* Overlay para fundo escuro no mobile */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.bio-container {
  display: flex;
  justify-content: center;
  padding: 1px;

  min-height: 100vh;
}

.bio-card {
  background: white;
  padding: 5px;
  border-radius: 0px;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.bio-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.bio-card p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.bio-list {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
}

.bio-list h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

.bio-list ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 10px 0;
}

.bio-list li {
  margin-bottom: 6px;
  cursor: pointer;
  transition: color 0.2s;
}

.bio-list li:hover {
  color: #007bff; /* azul no hover */
}


.bio-list-n {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
}

.bio-list-n h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  border-bottom: 0px solid #ccc;
  padding-bottom: 4px;
}

.bio-list-n ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 10px 0;
}

.bio-list-n li {
  margin-bottom: 6px;
  cursor: pointer;
  transition: color 0.2s;
}

.bio-list-n li:hover {
  color: #007bff; /* azul no hover */
}






.centralizado {
  
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
        /* ou o tamanho que precisar */
  text-align:center;
}


.justificado{
  
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;     /* centraliza horizontalmente */
        /* ou o tamanho que precisar */
  text-align:justify;
}


.qualifications-box {
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
  border-left: 0px solid #000; /* destaque na margem esquerda */
  margin-bottom: 20px;
}

.qualifications-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.qualifications-box p {
  margin: 10px 0;
  line-height: 1.5;
}

.languages-box {
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
  border-left: 0px solid #000; /* destaque lateral esquerdo */
  margin-bottom: 20px;
}

.languages-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.languages-box p {
  margin: 6px 0;
  line-height: 1.4;
}

.experience-box {
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
  border-left: 0px solid #000; /* destaque lateral */
  margin-bottom: 20px;
}

.experience-box h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.experience-box ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

.experience-box li {
  margin-bottom: 8px;
  line-height: 1.5;
}


.obras-notaveis {
  padding: 20px;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
  border-left: 0px solid #000;
  margin-bottom: 20px;
}

.obras-notaveis h3 {
  margin-top: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

.obra {
  margin-bottom: 15px;
}

.obra h4 {
  margin: 0 0 5px 0;
  font-size: 13px;
  color: #111;
}

.obra p {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #555;
}

.published-date {

           /* distância do topo da tela */
  right: 20px;          /* encostado à direita */
  background-color: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 0px;
  text-align: right;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
/* Responsividade para tablets */
@media (max-width: 768px) {
  .bio-card {
    padding: 20px;
  }

  .bio-title {
    font-size: 1.6rem;
  }

  .bio-card p {
    font-size: 1rem;
  }
}





/* Responsividade para celulares */
@media (max-width: 480px) {
  .bio-container {
    padding: 20px 10px;
  }

  .bio-card {
    padding: 15px;
  }

  .bio-title {
    font-size: 1.4rem;
  }

  .bio-card p {
    font-size: 0.95rem;
  }
}
/* Estilo responsivo */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }
}
